--- drivers/gpu/drm/i915/Kconfig
+++ drivers/gpu/drm/i915/Kconfig
@@ -3,7 +3,6 @@
 	depends on DRM
 	depends on X86 && PCI
 	select INTEL_GTT
-	select INTERVAL_TREE
 	# we need shmfs for the swappable backing store, and in particular
 	# the shmem_readpage() which depends upon tmpfs
 	select SHMEM
